# Ignore node_modules in both client and server

Backend-NodeJs/node_modules

# Ignore environment files in both client and server

Backend-NodeJs/.env

*.log
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
