/* RightSidebar.css */

.right-sidebar {
    position: fixed;
    top: 89px; /* Adjust according to your layout */
    right: 0;
    width: 270px;
    height: calc(100% - 60px); /* Adjust according to your layout */
    background-color: #f8f9fa;
    padding: 20px;
    border-left: 1px solid #ddd;
  }
  
  .user-list {
    margin-top: 20px;
  }
  
  .user-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-username {
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  